<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dan's To Do List</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="todo-list">
    <div class="header">
      <h1>{{ header }}</h1>
      <input v-model="newItem" @keyup.enter="addToList" type="text">
      <ul>
        <!-- <li v-for="elem in randomArr">{{elem}}</li> -->
        <li v-for="item in todoList" @click="toggleDone(item)" :class="{strikeout: item.done}">
          <h3>{{ item.label }}</h3>
        </li>
      </ul>
    </div>
  </div>
  <script>
    // var randomArr = [1, 2, 3]
    var toDoList = new Vue({
      el: "#todo-list",
      data: {
        header: "TO DO LIST",
        newItem: "",
        todoList: []
      },
      created: function () {
        fetch('/getList')
          .then(response => response.json())
          .then(data => {
            this.todoList = data;
            // this.todoList.push()
          })
          .catch(err => console.log(err));
      },
      methods: {
        addToList: function () {
          if (this.newItem) {
            fetch('/', {
              method: 'POST',
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                label: this.newItem,
                done: false,
              })
            })
              .then(response => response.json())
              .then(data => {
                console.log("Data received back was " + data);
                console.log("Successful to-do item to DB")
              })
              .catch(err => console.log(err));
            this.todoList.push({
              label: this.newItem,
              done: false
            });
            this.newItem = "";
          }
        },
        toggleDone: function (item) {
          item.done = !item.done;
        }
      }
    })
  </script>
</body>


</html>